div{
background-color: gold;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
width: 350px;
}
body{
    background: linear-gradient(-45deg,  #fd0000, #ff00c8, #ae00ff, #0011ff )
}
